<div class="row">
    <h1>Hard & Soft kills</h1>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="60"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [titleColor]="'red'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#7800FF'"
        [innerStrokeColor]="'#FFFFFF'">
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="60"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [titleColor]="'red'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#7800FF'"
        [innerStrokeColor]="'#FFFFFF'">
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="60"
        [imageSrc]="'../assets/JavaScript.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="80"
        [showUnits]="false"
        [titleColor]="'red'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#7800FF'"
        [innerStrokeColor]="'#FFFFFF'">
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="60"
        [imageSrc]="'../assets/ts.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [titleColor]="'red'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#7800FF'"
        [innerStrokeColor]="'#FFFFFF'">
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="60"
        [imageSrc]="'../assets/wrd.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [titleColor]="'red'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#7800FF'"
        [innerStrokeColor]="'#FFFFFF'">
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="60"
        [imageSrc]="'../assets/pwr.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [titleColor]="'red'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#7800FF'"
        [innerStrokeColor]="'#FFFFFF'">
        [animation]="true"
        [animationDuration]="1200"
      ></circle-progress>
    </div>
    </div>



